<div class="containerLogin">

    <p>Please enter your login details in the form below. If you are not yet a member, <a href="#/register">register here</a>.</p>
    <br>
    <form name="loginForm" ng-controller="LoginController" ng-submit="loginForm.$valid && login(credentials)" novalidate>
        <label for="username">Username:</label>
        <input type="text" id="username"
               ng-model="credentials.username" required>
        <label for="password">Password:</label>
        <input type="password" id="password"
               ng-model="credentials.password" required>
        <button type="submit">Login</button>
        <button type="button" ng-click="logout()"> Logout</button>
    </form>
</div>