<h1 id="moodSelectionTitle">Good Morning! How are you today?</h1>
<div id="moodSelection" ng-controller="MoodSelectionController">	
	<ul>
		<li class="smileyListItem" ng-click="moodHappy()">			
			<img class="smileyImage" src="./img/smileyVeryHappy.png" />
			<div class="moodText">very happy</div>
		</li>  
		<li class="smileyListItem" ng-click="moodGood()">			
			<img class="smileyImage" src="./img/smileyGood.png" />
			<div class="moodText">good</div>
			
		</li>  
		<li class="smileyListItem" ng-click="moodSoSoLaLa()">			
			<img class="smileyImage" src="./img/smileySoSoLaLa.png" />
			<div class="moodText">sosolala</div>
			
		</li>  
		<li class="smileyListItem" ng-click="moodNotAmused()">			
			<img class="smileyImage" src="./img/smileyNotAmused.png" />
			<div class="moodText">not amused</div>
			
		</li>  
		<li class="smileyListItem" ng-click="moodVeryMoody()">			
			<img class="smileyImage" src="./img/smileyVeryMoody.png" />
			<div class="moodText">very moody</div>
		</li>  
	</ul>
</div>	